@model Barcode

@{
    ViewData["Title"] = "Ingreso";
}

<form method="post" asp-action="Decode">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <div class="border p-3 mt-4" style="text-align: center;">

        <div classs="row pb-2">
            <h2 class="text-primary">
                Scan PDF417
            </h2>
        </div>

        <div class="mb-3">
            @* <textarea class="form-control" asp-for="Code" maxlength="240"></textarea>
            *@
            <input asp-for="Code" class="form-control" maxlength="300" type="password" autofocus />
            <span asp-validation-for="Code" class="text-danger"> </span>
        </div>
        

        <button type="submit" onclick="getUsersTable()"class="btn btn-primary" style="width:150px"> Decodificar </button>
        

    </div>
    
</form>

<div class="table table-bordered table-striped" id="users-table"> </div>


