@model Person

@{
    ViewData["Title"] = "Generar reportes";
}

@{
    Html.BeginForm("CreateDocument", "Report", FormMethod.Get);
    {
        <div>
            <input type="submit" value="CreateDocument" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}