@model Tariff

<form method="post">

    <div class="border p-3 mt-4">

        <div classs="row pb-2">
            <h2 class="text-primary">
                Crear Tarifa
            </h2>
        </div>

        <div class="mb-3">
            <label asp-for="TariffName">Nombre de la tarifa</label>
            <input asp-for="TariffName" class="form-control" />
            <span asp-validation-for="TariffName" class="text-danger"> </span>
        </div>

        <div class="mb-3">
            <label asp-for="Price">Precio de la tarifa</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"> </span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px"> Crear </button>

        <a asp-controller="Tariff" asp-action="Index" class="btn btn-secondary" style="width:150px"> View list</a>
    </div>

</form>

@*Allows to validate form without recharge the pages -> Client side*@
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}