@model IEnumerable<Tariff>

@{
    ViewData["Title"] = "Tarifas";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de tarifas</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Tariff" asp-action="Create" class="btn btn-success btn-lg">
                Añadir nueva &nbsp; <i class="bi bi-plus-square-dotted"></i>
            </a>
        </div>
    </div>

</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr class="table-primary" style="text-align: center;">
            <th>Nombre de la tarifa</th>
            <th>Precio de la tarifa</th>
             <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var obj in Model)
        {
            <tr class="table-light">
                <td>
                    @obj.TariffName
                </td>
                <td>
                    @obj.Price
                </td>

                <td style="text-align: center;">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Tariff" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <a asp-controller="Tariff" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">
                            <i class="bi bi-x-square-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
