@model Tariff

<form method="post">

    <div class="border p-3 mt-4">

        <div classs="row pb-2">
            <h2 class="text-primary text-center">
                Create Tariff
            </h2>
        </div>

        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"> </span>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label asp-for="Rule.Attribute">Attribute</label>
                <select asp-for="Rule.Attribute" id="attribute" onchange="setTariffRules()" class="form-select">
                    <option value=""></option>
                    <option value="Id">Identification Document</option>
                    <option value="DocumentType">Document Type</option>
                    <option value="FullName">Name</option>
                    <option value="Gender">Gender</option>
                    <option value="Country">Country</option>
                    <option value="Department">Department</option>
                    <option value="Municipality">Municipality</option>
                    <option value="BloodType">Blood Type</option>
                    <option value="Age">Age</option>
                </select>
                <span asp-validation-for="Rule.Attribute" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Rule.Condition">Condition</label>
                <select asp-for="Rule.Condition" id="condition" onchange="setValueExample()" class="form-select">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Rule.Condition" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Rule.Value">Value</label>
                <input asp-for="Rule.Value" id="value" class="form-control text-uppercase" />
                <span asp-validation-for="Rule.Value" class="text-danger"> </span>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"> </span>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Tariff" asp-action="Index" class="btn btn-secondary" style="width:150px">View list</a>

    </div>
</form>

@*Allows to validate form without recharge the pages -> Client side*@
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}