@model Tariff

<form method="post" asp-action="Edit">

    <input asp-for="Id" hidden />
    <input asp-for="Name" hidden />

    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary">
                Editar información de la tarifa
            </h2>
        </div>

        <div class="mb-3">
            <label asp-for="Id">Id</label>
            <input asp-for="Id" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Name">Tarifa</label>
            <input asp-for="Name" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Price">Precio</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"> </span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px"> Update </button>
        <a asp-controller="Tariff" asp-action="Index" class="btn btn-secondary" style="width:150px"> View list</a>
    </div>

</form>

@*Allows to validate form without recharge the pages -> Client side*@
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}