@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localize
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> localizationOptions

@{
    var language = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var lenguageList = localizationOptions.Value.SupportedUICultures.Select(x => new SelectListItem
    {
        Value = x.Name,
        Text = x.DisplayName
    }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" :
    $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}
<div>
    <form asp-action="LanguageHandler" asp-controller="Home" method="post" asp-route-returnUrl="@returnUrl">
        <select name="language" asp-for="@language.RequestCulture.UICulture.Name" asp-items="lenguageList"
            onchange="this.form.submit();">
        </select>
    </form>
</div>
