<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" asp-controller="Home" asp-action="Index">
			<img src="~/img/Paf.png" alt="hyka_logo" style="height:60px;width:300x;">
		</a>

		<button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
			aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor03">

			<partial name="_LoginPartial" />

			@* <form class="d-flex">
				<input class="form-control me-sm-2" type="text" placeholder="Search">
				<button class="btn btn-outline-light my-2 my-sm-0" type="submit"> <i class="bi bi-search"></i> </button>
				</form> *@

		</div>
	</div>
</nav>