@model Blockbuster

<form method="post" asp-action="Edit">
    <input asp-for="Id" hidden />
    <input asp-for="Email" hidden />
    <input asp-for="Password" hidden />

    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary">
                Editar información de taquillero
            </h2>
        </div>

        <div class="mb-3">
            <label asp-for="Id">Cédula</label>
            <input asp-for="Id" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Names">Nombres</label>
            <input asp-for="Names" class="form-control" />
            <span asp-validation-for="Names" class="text-danger"> </span>
        </div>

        <div class="mb-3">
            <label asp-for="Surnames">Apellidos</label>
            <input asp-for="Surnames" class="form-control" />
            <span asp-validation-for="Surnames" class="text-danger"> </span>
        </div>

        <div class="mb-3">
            <label asp-for="Age">Edad</label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"> </span>
        </div>

        <div class="mb-3">
            <label asp-for="Gender">Genero</label>
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"> </span>
        </div>

        <div class="mb-3">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" disabled class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" disabled class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px"> Update </button>
        <a asp-controller="Blockbuster" asp-action="Index" class="btn btn-secondary" style="width:150px"> View list</a>
    </div>

</form>

@*Allows to validate form without recharge the pages -> Client side*@
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}